
@model ASP.NET_Core_Web_Development_Activity2b_1.Models.UserModel

<h4>Please login.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- added new form name-->
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Id Part der auto-gen gelöscht -->
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <!-- password added -->
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- value = Login -->
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
